<ion-header>
  <ion-toolbar>
    <ion-title>Presentación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">  
  <p>Hola, soy Reymond Jr Adames, un apasionado de la tecnología y el desarrollo de software.</p>
  
  <h2>Educación</h2>
  <p>Actualmente estoy cursando el 12vo semestre en Programación de Dispositivos Móviles.</p>
  
  <h2>Habilidades</h2>
  <ul>
    <li>Desarrollo web</li>
    <li>Desarrollo móvil</li>
    <li>JavaScript, HTML, CSS</li>
    <li>Frameworks como Angular e Ionic</li>
  </ul>
  
  <h2>Proyectos</h2>
  <p>He trabajado en varios proyectos, incluyendo aplicaciones móviles y sitios web.</p>
  
  <h2>Objetivos</h2>
  <p>Mi objetivo es seguir aprendiendo y creciendo como desarrollador, contribuyendo a proyectos innovadores.</p>
  
</ion-content>